.home-about-social-links{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
}
/* .home-social-icons{
    text-decoration: none;
} */
.social-icons{
    border-radius: 50%;
    
}
.social-icons:hover{
    border: 2.5px solid yellow;
    transition: 0.1s ease-in-out;
}
.site-btn {
    background-color: rgb(103, 103, 111);
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    min-width: 170px;
    text-align: center;
    /* display: inline-block; */
    color: #fff!important;
    font-weight: 600;
    overflow: hidden;
    text-decoration: none;
    margin-top: 20px;
  }
  .site-btn:hover {
    background-color: rgba(21, 21, 32, 0.537);
    text-decoration: underline;
    border: 1px solid yellow;
    transition: 0.1s ease-in-out;
  }
  .site-btn img {
    height: 14px;
    margin-top: -5px;
    margin-right: 5px;
  }

li
{
    margin-right: 20px;
    border-radius: 50%;
}