.tech-icons {
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.93 !important;
    /* border: 1.7px solid rgb(89, 0, 190) !important; */
    border: 1.7px solid rgba(46, 134, 160, 0.486) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    /* box-shadow: 4px 5px 4px 3px rgba(117, 0, 250, 0.37) !important; */
    box-shadow: 4px 5px 4px 3px rgb(78, 197, 248) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
  }

  .about-section {
    /* position: relative !important; */
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    /* background-image: var(--section-background-color) !important; */
    color: white !important;
    align-items: center;
  }

  @media (max-width: 767px) {
    .tech-icons {
      margin: 10px !important;
    }
  }
  
  .tech-icons:hover {
    transform: scale(1.1) !important;
    overflow: hidden !important;
    /* border: 2.2px solid rgba(117, 0, 250, 1) !important; */
    border: 2.2px solid rgb(84, 221, 245) !important;
  }
  .tech-icon-images {
    padding: 20px !important;
    line-height: 1.6 !important;
  }
  .tech-stack
  {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    margin: auto;
    grid-gap: 5px;
  }
